{% extends "base.html" %}
{% block content %}
<center>
<h1 style="color: #fff"> Face Recognition software </h1>
<img id = "bg" src="{{ url_for('video_feed_face') }}" width="50%" height = "50%" alt="User Image">
<br><br><br>
<form method="post" action="{{ url_for('face_save') }}">
    <button type="submit" value="Capture" name="click" class="btn btn-outline-warning">Capture</button>
</form>
<form action="{{url_for('success_face') }}">
    <button type="submit" value="Next" name="click" class="btn btn-outline-warning">Next</button>
</form>
</center>
{% endblock %}